body{
			background-color:#D2B4DE;
			border: 1px solid black;
            position: absolute;
            left: 50%;
            width: 300px;
            margin-left: -150px;
			text-align:center
			}